target
bin
*.json

# intelliJ
.idea
modules-template.iml
modules-core.iml
modules-ui.iml
modules-local-persistence.iml
get-fit.iml

# vs-code
.vscode
.classpath
.project
org.eclipse.*

# mac
.DS_Store
/git-fit/local-persistence/modules-local-persistence.iml
/git-fit/localpersistence/modules-local-persistence.iml
/get-fit/client/modules-client.iml
/get-fit/rest/modules-rest.iml
*.key
/get-fit/restserver/modules-rest.iml
get-fit/ui/dependency-reduced-pom.xml
/get-fit/integration/modules-integration.iml
