# Members of group 23
Arran Øystein Kostveit Gabriel <aogabrie@stud.ntnu.no>
Erik Tveraaen Torvbråten <eriktto@stud.ntnu.no> <eriktorvbraten@dhcp-10-24-7-46.wlan.ntnu.no> <39183620+Areskiko@users.noreply.github.com>
Emilie Skirdal Frøhaug <emilisfr@stud.ntnu.no> <emilieskirdalfrohaug@dhcp-10-22-0-65.wlan.ntnu.no> <emilieskirdalfrohaug@dhcp-10-22-1-107.wlan.ntnu.no> <emilieskirdalfrohaug@dhcp-10-22-17-219.wlan.ntnu.no> <emilieskirdalfrohaug@dhcp-10-22-3-142.wlan.ntnu.no> <emilieskirdalfrohaug@dhcp-10-22-2-105.wlan.ntnu.no> <emilieskirdalfrohaug@dhcp-10-22-0-247.wlan.ntnu.no> <emilieskirdalfrohaug@dhcp-10-22-1-128.wlan.ntnu.no>
Stefan Mack <stefamac@stud.ntnu.no>
unknown <> <arrankg@gmail.com>
